.app-container {
  max-width: 600px;
  margin: 0px auto;
  height: 100vh;
  /* 100% of the height of the browser */

  display: flex;
  flex-direction: column;

}

.welcome-text {
  color: grey;
  margin-top: 60px;
  font-size: 18px;
  text-align: center;
}